.lessonCard{
    display:flex;
    padding:25px;
    width: 1016px;
    height: 341px;
    border: 8px solid #000000;
    box-shadow: none;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .lessonCard:hover{
    transform: translateX(-10px);
    transition: 0.3s;
    box-shadow: 8px 8px 0px #000000;
  
  }
  
  .previewImage{
    width: 464px;
    height: 261px;
    background: #000000;
    border-radius: 8px;
  }
  
  .cardInfo {
    width:50%;
    margin-left: 30px;
  }
  
  .studioChip{
    text-align: center;
    color: #FFFFFF;
    padding:8px;
    font-weight: 730;
    font-size: 16px;
    line-height: 16px;
    background: #008CFF;
    /* Black */
    border: 2px solid #000000;
    border-radius: 8px;
    width: 150px;
    height: 32px;
    margin-bottom:20px;
  }
  
  .cardTitle{
    font-weight: 730;
    font-size: 48px;
    line-height: 48px;
    margin-bottom:5px;
  }
  
  .cardAuthor{
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  
  .cardDescription{
    font-weight: 380;
    font-size: 24px;
    line-height: 136%;
    
  }