.card {
    border: 4px solid #000000;
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    margin:10px;
    padding:12px;
    padding-right:40px;
}

.headshot{
    border-width: 2px 4px 4px 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    background: #008CFF;
}

.mentorInfo {
    padding-left:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 100px;
}

.name{
    font-family: 'Boring Sans Variable';
    font-style: normal;
    font-weight: 730;
    font-size: 40px;
    line-height: 40px;
    margin-bottom:5px;
}

.role {
    font-family: 'Boring Sans Variable';
    font-style: normal;
    font-weight:280;
    font-size: 20px;
    line-height: 18px;
}


.forwardButton {
    padding-left:300px;
}