.container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #F7FF00;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom:100px;
}

.heroContent {
  text-align: center;
  position: relative;
  z-index: 1;
  width:50%;
}

.title {
  font-family: 'Boring Sans Variable';
  font-style: normal;
  font-weight: bold;
  font-size:110px;
  margin-bottom:10px;
}

.description {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  margin:none;
  margin-bottom:10px;
  text-align: center;
  margin-left: 40px;
  margin-right:40px;
}

.button {
  width: 330px;
  height: 92px;
  /* Purple */  
  background: #9747FF;
  /* Black */
  border: 4px solid #000000;
  transition: 0.3s;
  border-radius: 16px;
  box-shadow: 8px 8px 0px #333333, 10px 10px 0px #FF3700;
}

.button:hover{
  /* transform: translateX(-10px);
  transition: 0.3s;
  box-shadow: 8px 8px 0px #333333, 10px 10px 0px #FF3700; */
}

.buttontext{
  font-family: 'Boring Sans Variable';
  color:yellow;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
}


.pageContent {
  margin-left:20px;
  margin-right:20px
}

/* page content styles */

.blurb {
  position: relative;
  width: 869px;
  height: 144px;
  left: 96px;
  font-family: 'Boring Sans Variable';
  font-style: normal;
  font-weight: 730;
  font-size: 40px;
  line-height: 48px;
  margin-bottom:100px;
}

.subheader {
  position: relative;
  width: 869px;
  height: 144px;
  left: 96px;
  font-family: 'Boring Sans Variable';
  font-style: normal;
  font-weight: 730;
  font-size: 80px;
  line-height: 48px;
}

/* lesson card select styles */

.homeScroll {
  display:flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.backbutton{
  border: 6px solid #000000;
  box-shadow: -6px 0px 0px #000000;
  border-radius: 16px;
}

.fowardbutton{}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 100px;
  padding-right: 100px;
  text-align:center;
  vertical-align: middle;
}
  
.graphic { 
  grid-area: 1 / 1 / 2 / 2; 
  margin:20px;
  border: 6px solid #000000;
  border-radius: 8px;
}

.studioText {
  font-weight: 730;
  font-size: 64px;
  line-height: 64px;
  margin: 10px;
  transition: 0.3s;
  padding:100px;
}

.studioText:hover {
  transition: 0.3s;
  background: #008CFF;
}

.ctech {
  
}



.ctech { 
  grid-area: 1 / 2 / 2 / 3; 
  font-weight: 730;
  font-size: 64px;
  line-height: 64px;
  margin:20px;
  border: 6px solid #000000;
  border-radius: 8px;
}
.paint { 
  grid-area: 1 / 3 / 2 / 4; 
  font-weight: 730;
  font-size: 64px;
  line-height: 64px;
  margin:20px;
  border: 6px solid #000000;
  border-radius: 8px;}

.video { 
  grid-area: 2 / 1 / 3 / 2; 
  font-weight: 730;
  font-size: 64px;
  line-height: 64px;
  margin:20px;
  border: 6px solid #000000;
  border-radius: 8px;
}

.design { 
  grid-area: 2 / 2 / 3 / 3; 
  font-weight: 730;
  font-size: 64px;
  line-height: 64px;
  margin:20px;
  border: 6px solid #000000;
  border-radius: 8px;
}

.photo { 
  grid-area: 2 / 3 / 3 / 4; 
  font-weight: 730;
  font-size: 64px;
  line-height: 64px;
  margin:20px;
  border: 6px solid #000000;
  border-radius: 8px;
}

/* potencial alpha sticker code */
.sticker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
  width: 30px;
}

.sticker-letter {
  position: relative;
  z-index: 1;
}


/* potential afh peeps code */
.icon1 {
  position: absolute;
  top:0%;
  left:72%; 
}

.icon2 {
  top: 20%;
  right: 10%;
  transform: rotate(-10deg);
}

.icon3 {
  bottom: 10%;
  left: 20%;
  transform: rotate(20deg);
}



/* 


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
