.container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #F7FF00;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom:100px;
}

.heroContent {
  text-align: center;
  position: relative;
  z-index: 1;
  width:50%;
}

.title {
  font-family: 'Boring Sans Variable';
  font-style: normal;
  font-weight: bold;
  font-size:110px;
  margin-bottom:10px;
}

.description {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  margin:none;
  margin-bottom:10px;
  text-align: center;
  margin-left: 40px;
  margin-right:40px;
}

.button {
  width: 330px;
  height: 92px;
  /* Purple */  
  background: #9747FF;
  /* Black */
  border: 4px solid #000000;
  transition: 0.3s;
  border-radius: 16px;
  box-shadow: 8px 8px 0px #333333, 10px 10px 0px #FF3700;
}


.buttontext{
  font-family: 'Boring Sans Variable';
  color:yellow;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
}


.pageContent {
  margin-left:20px;
  margin-right:20px
}

/* page content styles */

.blurb {
  position: relative;
  width: 869px;
  height: 144px;
  left: 96px;
  font-family: 'Boring Sans Variable';
  font-style: normal;
  font-weight: 730;
  font-size: 40px;
  line-height: 48px;
  margin-bottom:100px;
}

.subheader {
  position: relative;
  width: 869px;
  height: 144px;
  left: 96px;
  font-family: 'Boring Sans Variable';
  font-style: normal;
  font-weight: 730;
  font-size: 80px;
  line-height: 48px;
}

/* lesson card select styles */

.homeScroll {
  display:flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.arrow {
  width: 100px;
  height: 100px;
  border: 6px solid #000000;
  transition: 0.3s;
  border-radius: 16px;
  margin-top: 100px;
}

.arrow:hover {
  box-shadow: 6px 6px 0px #000000;
  transform: translateX(-10px);
  transition: 0.3s;
}



