
.content {
    display:flex;
}
.mainSection {
    width:75%;
}

.title {
    font-size:64px;
    font-weight:bold;
    margin:10px;
    margin-bottom:30px;
}

.lessonDescription {
    margin:100px;
    width:50%;
    height:auto;
}

.description {
    color: var(--black, #000);
    font-size: 24px;
    font-weight: 380;
    line-height: 150%;
    margin-bottom:20px;
}
.buttons {
    display:flex;
    flex-direction: row;
}

.button {
    display:flex;
    flex-direction: row;
    padding:5px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid var(--black, #000);
    background: var(--white, #FFF);
    margin:10px;
    padding-left: 20px;
    padding-right:20px;
}

.buttonText {
    font-size:30px;
    vertical-align: middle;
    padding-top:5px;
    font-weight:bold;
}

.controls{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}


.menuSection {
    width:25%
}