.container {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
    display:flex;
}
.mainSection {
    width:75%;
}

.fullWidth {
    width: 100%;
  }

.title {
    font-size:68px;
    font-weight:bold;
    margin:10px;
    margin-bottom:30px;
}

.horizontalLine {
    border: none;
    border-top: 6px solid black;
    margin:0px;
  }

.lessonDescription {
    margin:100px;
    width:50%;
    height:auto;
}

.description {
    color: var(--black, #000);
    font-size: 24px;
    font-weight: 380;
    line-height: 150%;
    margin-bottom:20px;
}
.buttons {
    display:flex;
    flex-direction: row;
}

.button {
    display:flex;
    flex-direction: row;
    padding:5px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid var(--black, #000);
    background: var(--white, #FFF);
    margin:10px;
    padding-left: 20px;
    padding-right:20px;
}

.buttonText {
    font-size:30px;
    vertical-align: middle;
    padding-top:5px;
    font-weight:bold;
}

.controls{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}


.menuSection {
    width:25%
}

.menuTitle {
    font-size: 30px;
    margin-top:10px;
    font-weight: 730;
    line-height: 120%;
    cursor: pointer

}

.menuExit {
    cursor:pointer
}


.menuOpen {
    height: 60px;
    width:60px;
    /* position:absolute; */
    padding:10px;
    border: 3px solid black;
    border-radius: 6px;

}

.headerSection{
    display:flex;
    justify-content: space-between;
    border: 3px solid;
    border-radius: 2px;
    padding:10px;
    padding-top:20px;
}

.dropdownTitle {
    font-size: 40px;
    font-weight: 730;
    line-height: 120%;
    cursor: pointer;
    padding: 10px;
    padding-top:20px;
    padding-bottom:20px;
    border: 1px solid black;
    border-radius: 2px;
  }
  
.dropdownSectionItem {
    padding: 10px;
    padding-top:20px;
    padding-bottom:20px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}
  
.selectedLesson {
    background-color: #F7FF00;
}
.selectedSection {
    background-color: #FDFFCC;
}
  
.dropdownTitle:hover {
    background-color: #F7FF00;
}
.dropdownSectionItem:hover {
    background-color: #FDFFCC;
}


